/*-- scss:defaults --*/

// fonts

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace : "Space Grotesk",
"Ubuntu Mono",
Consolas,
monospace !default;

$font-weight-bold: 800;
$font-weight-normal: 400;


$white: hsla(0, 0%, 100%, 1);
$gray-100: hsl(210, 17%, 98%) !default;
$gray-200: hsl(210, 16%, 93%) !default;
$gray-300: hsl(0, 0%, 87%) !default;
$gray-400: hsl(210, 14%, 83%) !default;
$gray-500: hsl(210, 11%, 71%) !default;
$gray-600: hsl(210, 7%, 56%) !default;
$gray-700: hsl(210, 9%, 31%) !default;
$gray-800: hsl(210, 10%, 23%) !default;
$gray-900: hsl(210, 11%, 15%) !default;
$black: hsl(0, 0%, 0%) !default;

$theme-colors: (
  "white": hsl(0, 0%, 100%),
  "light": hsl(219, 49%, 91%),
  "default": hsl(210, 11%, 71%),
  "dark": hsl(227, 100%, 3%),
  "primary": hsl(227, 71%, 55%),
  "secondary": hsl(225, 95%, 63%),
  "info": hsl(221, 96%, 70%),
  "accent1": hsl(227, 89%, 22%),
  "accent2": hsl(226, 61%, 48%),
  "accent3": hsl(218, 78%, 77%),
  "success": hsl(152, 37%, 46%),
  "warning": hsl(36, 54%, 51%),
  "danger": hsl(4, 90%, 58%),

  "gray-100": hsl(210, 17%, 98%),
  "gray-200": hsl(210, 16%, 93%),
  "gray-300": hsl(0, 0%, 87%),
  "gray-400": hsl(210, 14%, 83%),
  "gray-500": hsl(210, 11%, 71%),
  "gray-600": hsl(210, 7%, 56%),
  "gray-700": hsl(210, 9%, 31%),
  "gray-800": hsl(210, 10%, 23%),
  "gray-900": hsl(210, 11%, 15%),
);

$color-names: map-keys($theme-colors);

$light: map-get($theme-colors, "light");
$dark: map-get($theme-colors, "dark");
$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");
$info: map-get($theme-colors, "info");
$accent1: map-get($theme-colors, "accent1");
$accent2: map-get($theme-colors, "accent2");
$accent3: map-get($theme-colors, "accent3");
$success: map-get($theme-colors, "success");
$warning: map-get($theme-colors, "warning");
$danger: map-get($theme-colors, "danger");

$light-accent : $accent3;
$medium-accent: $accent2;
$dark-accent : $accent1;
$default: $gray-500;

$dark-background: $dark-accent;
$light-background: $light;
$white-background: $white;

$link-color : $light !default;
// Default values for callout colors
$callout-color-note: $primary !default;
$callout-color-tip: $success !default;
$callout-color-important: $danger !default;
$callout-color-warning: $warning !default;


// breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


/*-- scss:rules --*/


// colors

@each $color-name in $color-names {
  .text-#{$color-name} {
    color: map-get($theme-colors, $color-name);
  }

  .bg-#{$color-name} {
    background-color: map-get($theme-colors, $color-name);
  }
}

// acceptable rem values with 1 rem = 16 px
// 0.25, 0.5, 0.75, 1, 1.5, 2, 4, 6, 8, 12, 16, 24, 32, 40, 48

body {
  font-family: $font-family-sans-serif;
  color: $dark;
}

p {
  font-family: inherit;
  line-height: calc(150% + (0.0025vw * (100 - 30)));
  /* calculate line height */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: inherit, $dark;
  border-bottom: none;
}

// a {
//   color: $primary; // hack to set menu link color to light and then overide for a tags
//   text-decoration: none;
//   padding-left: 0.1em;
//   padding-right: 0.1em;
// }

a {
  position: relative;
  color: inherit;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $primary;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

a:hover {
  color: $primary;
  text-decoration: none;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  color: $primary;
}

.date {
  color: $default;
}

.font-normal {
  font-weight: $font-weight-normal;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

// sidebars

.margin-sidebar,
.toc-active .header-section-number {
  color: $gray-400;

  & a {
    color: $primary !important;

    &:hover {
      color: $primary !important;
      text-decoration: underline;
      background-color: none !important;
      // todo fix navbar colors
    }
  }
}


@media (min-width: 992px) {

  .sidebar-menu-container a,
  .sidebar-item-container .chapter-number {
    color: $gray-400;
  }
}

// buttons

.btn {
  border-radius: 5px;
}

// responsive iframe
.container {
  position: relative;
  width: 100%;
  padding-bottom: 5%;
}

.responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.quarto-title-meta-heading {
  color: $default;
}

// extras

.empty {
  color: inherit;
  -webkit-text-stroke: 2px;
  text-stroke: 2px;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}